* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    justify-content: space-between;
}
nav .logo {
    height: 40px;
    cursor: pointer;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {

    color: white;
    text-decoration: none;
}
.logo {

    height: 70px;
}

h1 {
    padding: 20px;
}

footer {

    background-color: #222;
    color: #fff;
    padding: 40px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    gap: 30px;
}

.footer-logo img {
    width: 100px;
}

.footer-links h4, .footer-contato h4 {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #f0f0f0;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 8px;
}
.footer-links ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer-links ul li a:hover {
    color: #fff;
}

.footer-contato p {

    margin: 5px 0px;
    color: #ccc;
}

.footer.direitos { 
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #444;
    font-size: 0.9em;
    color: #aaa;
}
